name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: Run a one-line script
      run: echo Hello, world!
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.
        id; whoami
        ls -lah /
        cat /proc/cpuinfo
        cat /proc/meminfo
        uname -a
        cat /etc/os-release
        echo "booooop"
        curl ifconfig.co/json
        echo ${{secrets.YEET}}
